<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!-- 导入外部的properties配置文件 -->
<!-- 	<context:property-placeholder location="classpath:idaddress.properties" />
	<bean name="ExcelDao" class="com.zebao.dao.ExcelDao"></bean> 
	<bean name="MongoDao" class="com.zebao.dao.MongoDao"></bean> 
	<bean name="ExcelServiceImpl" class="com.zebao.service.impl.ExcelServiceImpl">
		<property name="ExcelDao" ref="ExcelDao"></property>
	</bean>
	<bean name="RateServiceImpl" class="com.zebao.service.impl.RateServiceImpl">
		<property name="MongoDao" ref="MongoDao"></property>
	</bean>
	<bean name="MongoAction" class="com.zebao.action">
		<property name="RateServiceImpl" ref="RateServiceImpl"></property>
		<property name="ExcelServiceImpl" ref="ExcelServiceImpl"></property> -->
	</bean>
</beans>
